code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert {
   padding: 20px;
   background-color: #f44336;
   color: white;
 }

.info {
  padding: 20px;
  background-color: #b4eaaa;
  color: #202020;
}